doctype
html
	head
		include include/head
	body#home
		include include/header
		section
			h1 Curso de Progamación en Laravel en CUCEI
			h2 ¿Qué es Laravel?
			p Laravel es uno de los frameworks de código abierto más fáciles de asimilar para PHP.
				b Es simple, muy potente y tiene una interfaz elegante y divertida de usar.
			p Fue creado en 2011 y tiene una gran influencia de framework como Ruby on Rails, Sinatra y ASP.NET.
			P El objetivo de Laravel es el de ser un framework que permita el uso de una sintaxis refinada y expresiva para crear código de forma sencilla, evitando el "código espagueti" y permitiendo multitud de funcionalidades. Aprovecha todo lo bueno de otros frameworks y utiliza las características de las últimas versiones de PHP.
			p La mayor parte de su estructura está formada por dependencias, especialmente de Symfony, lo que implica que el desarrollo de Laravel dependa también el desarrollo de su dependencias.
			p Laravel es una excelente herramienta de software para el desarrollo diario y dispone de algunos de los factores claves que hacen que un proyecto tenga éxito:
			ul
				li No necesita de requerimientos raros sobre el stack de publicación.
			ul
				li La documentación existente en la red es buena y completa.
			ul
				li La comunidad que apoya este proyecto es enorme y sigue creciendo.
		section
			h2 ¿Qué es CUCEI?
			p El Centro Universitario de Ciencias Exactas e Ingenierías es uno de los centros temáticos de la Red Universitaria, se encuentra ubicado en el antiguo Instituto Tecnológico de Guadalajara.
			p El CUCEI desarrolla sus funciones sustantivas a través de 12 departamentos que se agrupan en tres divisiones, de las cuales se destaca la división de Electrónica y Computación, integrada por los departamentos de Electrónica y Ciencias Computacionales
			p Desarrolla funciones de docencia, investigación y extensión en el campo de la informática y la computación para formar y mantener actualizados en esas disciplinas a profesionales que contribuyen al desarrollo de la comunidad, así como para generar, aplicar y difundir nuevos conocimientos en esas áreas.
		section
			h2 Objetivos
			.col14
				h3 Crear una aplicación web con el patrón de diseño MVC
			.col14
				h3 Interactuar con una base de datos MySQL
			.col14
				h3 Crear un CRUD
			.col14
				h3 Utilizar CSS, JQuery, Bootstrap
		section
			h2 Requisitos
			.col14
				h3 Conocimiento intermedio del lenguaje PHP
			.col14
				H3 Comprender conceptos de POO
			.col14
				h3 Conocimiento del patrón de diseño MVC
			.col14
				h3 Conocimiento básico de SQL

		include include/footer