header {
	// width: 100%;
	padding: 1em 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: #f4645f;
	font-size: 1.25em;
	nav {
		width: 30%;
		ul {
			display: inline-block;
			width: 100%;
			display: flex;
			justify-content: space-between;
			li {
				display: inline;
			}
		}
	}
	a {
		color: #fff;
		text-decoration: none;
	}
}