title Laravel en CUCEI
meta(name="description", content="Cursos de Programación en Laravel en CUCEI")
meta(name="keywords" content="laravel, cucei,laravel en cucei, curso de programacion, curso de programacion en cucei, curso de laravel en cucei, laravel programacion, curso de programacion en cucei, laravel desde cero")
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel='stylesheet', type="text/css", href='css/styles.css')